div.createForm,p.flip
{
    margin:0px;
    padding:5px;
    text-align:center;
    /*display: none;*/
}

div.createForm
{
    background:#DF8713;
    color:white;
    height:200px;
    width:200px;
    display:none;
    -moz-border-radius:0 0 0 5px;
    -webkit-border-radius:0 0 0 5px;
    -moz-box-shadow:2px 3px 12px #888;
    -webkit-box-shadow:2px 3px 12px #888;
}

p.flip{
    position:relative;
    bottom:12px;
    right:5px;
    padding-top:20px;
    cursor:pointer;
    background:#3B813A;
    color:white;
    float:right;
    -moz-border-radius:0 0 5px 5px;
    -webkit-border-radius:0 0 5px 5px;
    
}
p.flip:hover{
    bottom:10px;
}
