.css0 {
	background: url(../images/0.png) no-repeat scroll left top;
}
.css1 {
	background: url(../images/1.png) no-repeat scroll left top;
}
.css2 {
	background: url(../images/2.png) no-repeat scroll left top;
}
.css3 {
	background: url(../images/3.png) no-repeat scroll left top;
}
.css4 {
	background: url(../images/4.png) no-repeat scroll left top;
}
.css {
	padding: 35px;
	font-size: 1.1em;
    font-weight: normal;
}
.css span {
	margin: 4em;
}
.credits{
    font-size: 0.9em;
    float: right;
}

.credits p{
    margin: 5px 0;
    font-size: 0.8em;
}

.mainWrap{
    margin: 0 auto;
}

.header{
    margin:0 0 2em 0;
}

.whiteboard{
    background-color: white;
    border: #696969 solid 20px;

    -moz-border-bottom-colors: #555 #666 #777 #888 #aaa #bbb #ccc #ddd;
    -moz-border-top-colors: #555 #666 #777 #888 #888 #777 #666 #555;
    -moz-border-left-colors: #555 #666 #777 #999 #999 #888 #777 #666;
    -moz-border-right-colors: #666 #777 #888 #bbb #ccc #eee #eee #eee;
    
	-webkit-box-shadow: 3px 7px 3px #888;
    -moz-box-shadow: 3px 7px 3px   #888;
    
    -webkit-border-radius: 15px 15px 15px 15px;
    -moz-border-radius: 15px 15px 15px 15px;
    overflow: auto;
    width: 95%;
    min-height:500px;
}

.rightNavSticky {
    position:absolute;
    padding:0.5em;
    margin:0em 0;
    color:white;

    background:#3B813A;
    border:1px solid #3B813A;

    -webkit-border-radius: 5px 5px 5px 5px;
    -moz-border-radius: 5px 5px 5px 5px;

    writing-mode: tb-rl;
}

.rightNavSticky a{
    text-decoration:none;
    color:white;
    cursor:pointer;
}

.rightNavSticky.feedback{
    top:150px;
    right:-23px;
    -webkit-transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);
}
.rightNavSticky.feedback:hover{
    right:-22px;
}

.create{
    position:absolute;
    top:0px;
    right:136px;
}

.logo{
    height:45px;
    width:auto;
    margin:0.5em;
}

.screenCastContainer {
    height:225px;
    width:400px;
    margin:10px;
    display:block;
    border: solid;
    border-width: 15px;
    -webkit-border-image:url(../images/border2.png) 30 30 30 30 round round;
    -moz-border-image:url(../images/border2.png) 30 30 30 30 round round;
}

.screenCast{
    width:400px;
    height:225px;
}

.sideBar{
    font-family: Scribbled, sans-serif;
    font-size:1.5em;
    padding:0 0 0 1em;;
}

.sideBar ul{
    font-family:Scribbled,sans-serif;
}

.sectionTitle{
    font-family:SketchBlock;
    text-align:center;
}

.sectionContent{
    font-family:Handwritten;
    font-size:150%;
}

.what,.try{
    font-size:100%
}

.how,.why{
    font-size:80%;
}

.who{
    font-size:65%;
}

.left{
    float:left;
}

.right{
    float:right;
}

.bold{
    font-weight:bold;
}

h1 {
	/* 18px via YUI Fonts CSS foundation. */
	font-size: 138.5%;
}

h2 {
	/* 16px via YUI Fonts CSS foundation. */
	font-size: 123.1%;
}

h3 {
	/* 14px via YUI Fonts CSS foundation. */
	font-size: 108%;
}

h1,h2,h3 {
	/* Top & bottom margin based on font size. */
	margin: 0.2em 0;
}

blockquote,ul,ol,dl {
	/* Giving blockquotes and lists room to breath. */
	margin: 1em;
}

ol,ul,dl {
	/* Bringing lists on to the page with breathing room. */
	margin-left: 2em;
}

ol li {
	/* Giving OL's LIs generated numbers. */
	list-style: decimal outside;
}

ul li {
	/* Giving UL's LIs generated disc markers. */
	list-style: disc outside;
}

dl dd {
	/* Giving UL's LIs generated numbers. */
	margin-left: 1em;
}

.half{
    width:48%;
}

.oneFourth{
    width:23%;
}

.threeForth{
    width:73%
}

@font-face{
    font-family:Handwritten;
    src:url("../fonts/Handwritten_Crystal_v2.ttf");
}

@font-face{
    font-family:SketchBlock;
    src:url("../fonts/Sketch_Block.ttf");
}