.css0 {
	background: url(../images/0.png) no-repeat scroll left top;
}
.css1 {
	background: url(../images/1.png) no-repeat scroll left top;
}
.css2 {
	background: url(../images/2.png) no-repeat scroll left top;
}
.css3 {
	background: url(../images/3.png) no-repeat scroll left top;
}
.css4 {
	background: url(../images/4.png) no-repeat scroll left top;
}
.css {
	padding: 35px;
	font-size: 1.1em;
    font-weight: normal;
}
.css span {
	margin: 4em;
}
.credits{
    font-size: 0.9em;
    float: right;
}

.credits p{
    margin: 5px 0;
    font-size: 0.8em;
}

.mainWrap{
    margin: 0 auto;
    max-width:1440px;
}

.header{
    margin:0 0 2em 0;
}

.content{
    overflow:auto;
}

.whiteboard{
    background-color: white;
    border: #696969 solid 20px;

    -moz-border-bottom-colors: #555 #666 #777 #888 #aaa #bbb #ccc #ddd;
    -moz-border-top-colors: #555 #666 #777 #888 #888 #777 #666 #555;
    -moz-border-left-colors: #555 #666 #777 #999 #999 #888 #777 #666;
    -moz-border-right-colors: #666 #777 #888 #bbb #ccc #eee #eee #eee;

	-webkit-box-shadow: 3px 7px 3px #888;
    -moz-box-shadow: 3px 7px 3px   #888;
    
    -webkit-border-radius: 15px 15px 15px 15px;
    -moz-border-radius: 15px 15px 15px 15px;
    overflow: auto;
    width: 95%;
    min-height:643px;
}

.logo{
    height:45px;
    width:auto;
    margin:0.5em;
}

.logo.small{
    height:30px;    
}

.screenCastContainer {
    height:225px;
    width:400px;
    margin:0px auto;
    display:block;
}

.screenCast{
    width:400px;
    height:225px;
}

.leftBar{
    text-align:center;
    overflow:auto;
    padding:0.5em;
}

.sideNote{
    position:absolute;
    padding:0.2em;

    -webkit-box-shadow: 1px 9px 23px #888888;;
    -moz-box-shadow: 1px 9px 23px #888888;
}

.sectionTitle{
    font-family:Edosz;
    text-align:center;
}

.sectionContent{
    font-family:Handwritten;
    font-size:150%;
}

.what{
    top:91px;
    z-index:2;
    border-top: #000 solid 10px;
    -moz-border-top-colors: #555 #666 #777 #888 #888 #777 #666 #555;
}
.try{
    top:91px;
    z-index:2;
    -webkit-transform: rotate(-2deg);
    -moz-transform: rotate(-2deg);
}

.create{
    position:absolute;
    top:210px;
    right:176px;
    z-index:0;
}

.why{
    top:343px;
    width:25em;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
}

.faq {
    top:515px;
    -webkit-transform: rotate(-2deg);
    -moz-transform: rotate(-2deg);
    z-index:4;
}
.help{
    top:510px;

    -webkit-transform: rotate(-3deg);
    -moz-transform: rotate(-3deg);
    z-index:5;
}
.feedback{
    top:591px;
    z-index:0;
}
.polaroid{
    border:10px solid #ccc;
    border-bottom:50px solid #ccc;
    background:black;
    color:white;

    top:221px;
}

.footer{
    margin:1em 0 0 0;
    text-align:center;
}

.left{
    float:left;
}

.right{
    float:right;
}

.bold{
    font-weight:bold;
}

h1 {
	/* 18px via YUI Fonts CSS foundation. */
	font-size: 150%;
}

h2 {
	/* 16px via YUI Fonts CSS foundation. */
	font-size: 138.5%;
}

h3 {
	/* 14px via YUI Fonts CSS foundation. */
	font-size: 123.1%;
}

h4{
    font-size: 108%;
}

h1,h2,h3 {
	/* Top & bottom margin based on font size. */
	margin: 0.2em 0;
}

blockquote,ul,ol,dl {
	/* Giving blockquotes and lists room to breath. */
	margin: 1em;
}

ol,ul,dl {
	/* Bringing lists on to the page with breathing room. */
	margin-left: 2em;
}

ol li {
	/* Giving OL's LIs generated numbers. */
	list-style: decimal outside;
}

ul li {
	/* Giving UL's LIs generated disc markers. */
	list-style: disc outside;
}

dl dd {
	/* Giving UL's LIs generated numbers. */
	margin-left: 1em;
}

.page{
    margin:0.5em auto;
    padding:1em;
    min-height:500px;
    width:800px;

    -moz-box-shadow:-5px 5px 20px #888888;
    -webkit-box-shadow:-5px 5px 20px #888888;
}

.clip{
    position:absolute;
    margin:0 auto;
    height:60px;
    width:auto;
}

/*to-do : following classes are duplicates, remove//merge*/
.half{
    width:48%;
}
.oneThird{
    width: 33%;
}

.oneFourth{
    width:23%;
}

.threeForth{
    width:73%
}

.yellow{
    background-color: #ffff88;
    border : 1px solid #ffff66;
}
.orange{
	background-color: #ffb058;
    border : 1px solid #ffb069;
}

.blue{
	background-color: #17B6FF;
    border : 1px solid #17B6FF;
}

.green{
	background-color: #bcee6b;
    border : 1px solid #bcee7c;

}
/**/

@font-face{
    font-family:Handwritten;
    src:url("../fonts/Handwritten_Crystal_v2.ttf");
}

@font-face{
    font-family:Edosz;
    src:url("../fonts/edosz.ttf");
    font-size:150%;
}