h1 {
	font-size: 150%;
}

h2 {
	font-size: 138.5%;
}

h3 {
	font-size: 123.1%;
}

h4{
    font-size: 108%;
}

h1,h2,h3 {
	margin: 0.2em 0;
}

blockquote,ul,ol,dl {
	margin: 1em;
}

ol,ul,dl {
	margin-left: 2em;
}

ol li {
	list-style: decimal outside;
}

ul li {
	list-style: disc outside;
}

dl dd {
	margin-left: 1em;
}
a{
    color:#000;
}
a:hover{
    text-decoration:underline;
    color:blue;
}
a,a:hover{
    z-index:10;
}

/*create base css which has above and is shared with orter.css*/
.hide{
    display:none;
}

.left{
    float:left;
}

.half{
    width:48%;
}

.mainWrap {      /* copied to orter.css */
    margin:0 auto;
    overflow:auto;
    padding:1em;
}

.content{
    display: block;
    width: 99%;
}

.whiteboard{      /* copied to orter.css */
    background-color: white;
    border: #696969 solid 20px;

    -moz-border-bottom-colors: #555 #666 #777 #888 #aaa #bbb #ccc #ddd;
    -moz-border-top-colors: #555 #666 #777 #888 #888 #777 #666 #555;
    -moz-border-left-colors: #555 #666 #777 #999 #999 #888 #777 #666;
    -moz-border-right-colors: #666 #777 #888 #bbb #ccc #eee #eee #eee;

	-webkit-box-shadow: 3px 7px 3px #888;
    -moz-box-shadow: 3px 7px 3px   #888;

    -webkit-border-radius: 15px 15px 15px 15px;
    -moz-border-radius: 15px 15px 15px 15px;
    overflow: auto;
    margin: auto 0;
    width: 95%;
    min-height:643px;
}

.spotLight{

    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:150%;
    background: -webkit-gradient(
        radial, 50% 50%, 150, 50% 50%, 190, from(transparent), to(#000)
    );
    background: -moz-radial-gradient(
        50% 50%, circle, transparent 150px, #000 190px
    );
    opacity:0.8;
    z-index:10;
    pointer-events:none;
}

.logo{
    margin:0.5em;
}

.screenCastContainer {
    height:225px;
    width:400px;
    margin:0px auto;
    display:block;
}

.screenCast{
    width:400px;
    height:225px;
}

.leftBar{
    text-align:center;
    overflow:auto;
    padding:0.5em;
}

.sideNote{
    position:absolute;
    padding:0.2em;

    -webkit-box-shadow: 1px 9px 23px #888888;;
    -moz-box-shadow: 1px 9px 23px #888888;
    -webkit-transition:all 1s ease-in-out;
    -moz-transition:all 1s ease-in-out;
}
.sideNote:hover{
    position:absolute;
    padding:0.2em;

    -webkit-box-shadow: 1px 15px 23px #666;;
    -moz-box-shadow: 1px 15px 23px #666;
}

.sectionTitle{
    font-family:Edosz;
    text-align:center;
}

.sectionContent{
    font-family:Handwritten;
    font-size:150%;
}

.what{
    z-index:2;
    margin: 1em;
    width: 40%;
    border-top: #000 solid 10px;
    -moz-border-top-colors: #555 #666 #777 #888 #888 #777 #666 #555;
}
.try{
    top:91px;
    right:69px;
    z-index:0;
    -webkit-transform: rotate(3deg);
    -moz-transform: rotate(3deg);
}

.create{
    top:115px;
    right:320px;
    z-index:1;
}

.why{
    top:250px;
    right:260px;
    width:25em;
    -webkit-transform: rotate(-1.5deg);
    -moz-transform: rotate(-1.5deg);
}

.faq {
    top:515px;
    -webkit-transform: rotate(-2deg);
    -moz-transform: rotate(-2deg);
    z-index:4;
}
.help{
    top:600px;
    right:70px;
    -webkit-transform: rotate(-3deg);
    -moz-transform: rotate(-3deg);
    z-index:5;
}
.feedback{
    top:246px;
    right:200px;
    -moz-transform:rotate(-10deg);
    -webkit-transform:rotate(-10deg);
    z-index:0;
}

.yellow{
    background-color: #ffff88;
    border : 1px solid #ffff66;
}
.orange{
	background-color: #ffb058;
    border : 1px solid #ffb069;
}

.blue{
	background-color: #17B6FF;
    border : 1px solid #17B6FF;
}

.green{
	background-color: #bcee6b;
    border : 1px solid #bcee7c;

}

.purple{
    background-color: #d07ddf;
    border : 1px solid #d07def;
}
/**/

@font-face{
    font-family:Handwritten;
    src:url("../fonts/Handwritten_Crystal_v2.ttf");
}

@font-face{
    font-family:Edosz;
    src:url("../fonts/edosz.ttf");
    font-size:150%;
}