h2 {
   font-size: 1.8em;
   font-weight: bold;
}

h1,h2,h3,h4{
	text-align: center;
}

h4{
	font-size:1.2em;
}

body {
	background:#AAA185 none repeat scroll 0 0;
	font-family: Comic Sans MS,cursive;
}

.hide{
    display:none;
}

.main_wrap {
	margin:0 auto;
    padding: 50px 5px 0;
    width:990px;
    overflow: auto;
}

.header{
    overflow: auto;
    width: 100%;
}

.logo{
    margin: 15px;
    display: inline;
    float:left;
    width:10%;
}

.pdfExport{
    margin: 15px;
    display: inline;
    float: left;
    background:transparent url(../images/pdf_export.png) no-repeat;
    height:55px;
    width: 35px;
}

.ideaBoardTitle{
    margin: 15px;
    display: inline;
    float: left;
    width: 70%;
}

.whiteboard{
	background:transparent url(../images/whiteboard.jpg) no-repeat;
	float:left;
}

.section {
	float:left;
	margin-bottom:10px;
	margin-left:10px;
	width:48%;
	height: 240px;
}

.sticky{
	background-color: #ffff88;
    border : 1px solid #ffff66;
    margin-left: 5px;
    margin-top: 5px;
	float:left;
	width:180px;
	height:60px;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-border-radius: 4px 4px 15px 4px;
    -moz-border-radius: 4px 4px 15px 4px;
    -webkit-box-shadow: 2px 2px 0px 0px #888;
    -moz-box-shadow: 2px 2px 0px 0px #888;
}

.bluesticky{
	background-color: #ccffff;
}

.purplesticky{
	background-color: #bb00cc;
}

.greensticky{
	background-color: #88dd00;
}

.otherSticky{
	background:transparent url(../images/ouryellow.png) no-repeat;
	float:left;
	padding: 15px 5px 0 6px;
	width:116px;
	height:110px
}

.sectionTitle{
    display: inline;
    width: 80%;
    float: left;
}

.sectionTitleArea{
    overflow:auto;
    width:100%;
}

.addStickyButton {
    background:transparent url(../images/add.png) no-repeat scroll 0 0;
    border:1px solid #CCCCCC;
    cursor:pointer;
    float:right;
    height:38px;
    width: 20%;
    display: inline;
    overflow: hidden;
}

.removeStickyButton{
    background:transparent url(../images/remove.png) no-repeat;
    height:21px;
    width: 20px;
    display: inline;
    float: left;
    visibility: hidden;
}

.voteStickyButton{
    background:transparent url(../images/vote.png) no-repeat;
    height:20px;
    width: 20px;
    display: inline;
   float: left;
    visibility: hidden;
}

div.sticky:hover span.removeStickyButton{
    visibility: visible;
}

div.sticky:hover span.voteStickyButton{
    visibility: visible;
}

.stickyText{
    font-size: 0.75em;
}

.voteCount{
    font-size: 11px;
    display: inline;
    float: right;
    padding-left: 5px;
}

.updatedAt{
    display: none;
}