h2 {
   font-size: 1.8em;
   font-weight: bold;
}

h1,h2,h3,h4{
	text-align: center;
}

h4{
	font-size:1.2em;
}

a:focus{
    outline: none;
}

body {
	background: #cccccc none repeat scroll 0 0;
	font-family: Comic Sans MS,cursive;
    padding: 30px;
    min-height: 1000px;
}

.hide{
    display:none;
}

.main_wrap {
	margin: 0 auto;
    overflow: auto;
    padding:1em;
}

.whiteboard{
    background-color: white;
    border: #696969 solid 10px;
	-webkit-box-shadow: 3px 7px 3px #888;
    -moz-box-shadow: 3px 7px 3px   #888;
    -webkit-border-radius: 15px 15px 15px 15px;
    -moz-border-radius: 15px 15px 15px 15px;
    overflow: auto;
    width: 99%;
    text-align: center;
}

.header{
    overflow: auto;
    width: 100%;
}

.logo{
    margin: 15px 0;
    display: inline;
    float:left;
    width:10%;
}

.pdfExport{
    margin: 15px 0;
    display: inline;
    float: left;
    background:transparent url(../images/pdf_export.png) no-repeat;
    height:55px;
    width: 5%;

}

.ideaBoardTitle{
    margin: 15px;
    display: inline;
    float: left;
    width: 80%;
}

.sections{
    overflow: auto;
}

.section {
	float:left;
	margin-bottom:10px;
	min-height: 200px;
}

.points{
    overflow: auto;
    padding:0.25em;
}

.addStickyForm{
    overflow:visible;
}

.addStickyForm textarea{
    -webkit-box-shadow: 5px 1px 3px #888;
    -moz-box-shadow: 5px 1px 3px #888;
}

.sticky{
    -webkit-box-shadow: 3px 1px 3px #888;
    -moz-box-shadow: 3px 1px 3px #888;
}

.ui-widget-content{
    -webkit-box-shadow:2px 29px 17px #888888;
    -moz-box-shadow:2px 29px 17px #888888;
}

.sticky,.addStickyForm textarea{
    max-width:15em;
}
.sticky,.addStickyForm textarea,.ui-widget-content{
	cursor: pointer;
    background-color: #ffff88;
    border : 1px solid #ffff66;
    font-size: 1em;
    text-overflow: ellipsis;
    -webkit-border-radius: 4px 4px 15px 4px;
    -moz-border-radius: 4px 4px 15px 4px;
    margin-left: 5px;
    margin-top: 5px;
	float:left;
	width:47%;
	height:100px;
    overflow: hidden;
    position:relative;
}

.ui-dialog{
    cursor:default;
}

.ui-widget-content .ui-widget-content{
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
}

.ui-widget-content{
    min-width:10em;    
}

.full{
    width: 99%;
}

.half{
    width: 49%;
}

.oneThird{
    width: 33%;
}


#largeStickyDialog{
    font-size: 0.75em;
}

.bluesticky{
	background-color: #ccffff;
}

.purplesticky{
	background-color: #bb00cc;
}

.greensticky{
	background-color: #88dd00;
}

.otherSticky{
	background:transparent url(../images/ouryellow.png) no-repeat;
	float:left;
	padding: 15px 5px 0 6px;
	width:116px;
	height:110px
}

.sectionTitle{
    display: inline;
    width: 80%;
    float: left;
}

.sectionTitleArea{
    overflow:auto;
    width:100%;
    padding:0 0 0.5em 0;
}

.addStickyButton {
    background:transparent url(../images/Add-32.png) no-repeat scroll 0 0;
    border:none;
    cursor:pointer;
    float:right;
    height:32px;
    width: 32px;
    display: inline;
    overflow: hidden;
}

.stickyActions{
    margin-top: 10px;
    text-decoration: underline;
}

.removeStickyButton{
    background:transparent url(../images/Delete-20.png) no-repeat;
    padding-left: 20px;
    display: inline;
    float: left;
    cursor: pointer;
    height:32px;
    width:32px;
}

.voteStickyButton{
    background:transparent url(../images/vote.png) no-repeat;
    padding-left: 20px;
    display: inline;
    float: left;
    cursor: pointer;
    height:32px;
    width:32px;
}

.sticky .voteCount{
    opacity: 0.5;
    filter: alpha(opacity = 50);
    font-weight:normal;
}

.voteCount{
    clear: both;
    margin-top: 10px;
    font-weight:bold;
    position:absolute;
    top:60%;
    left:90%;
}

.updatedAt{
    display: none;
}
