<html >
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

<title>orteR | Retro</title>

<style>
body { margin: 0px; overflow:hidden }
</style>
</head>

<body scroll="no">
<h3> Deleted Sticky </h3>

<table>
	<tr>
		<th>Message</th>
		<th>Section</th>
		<th>Click to restore</th>
	</tr>
	<%= render :partial=> 'point', :collection => @points %>
</table>

</body>
</html>