body{
  background: #CCC none repeat scroll 0 0
}
/******************************************************/
/*a {
  color: #000;
  z-index: 10;
}
a:focus {
  outline: none;
}
a:hover {
  color: blue;
  z-index: 10;
}*/
/************************************************/
.hide {
  display: none;
}
.left {
  float: left;
}
/*a {
  color: blue;
}*/
#mainWrap {
  margin: 20px auto;
  overflow: auto;
  padding: 10px;
  max-width: 1200px;
}
.logoContainer {
  width: 90%;
  margin: 0 auto 10px;
  padding: 5px;
}
#whiteboard {
  background-color: white;
  border: #696969 solid 20px;
  -moz-border-bottom-colors: #555 #666 #777 #888 #aaa #bbb #ccc #ddd;
  -moz-border-top-colors: #555 #666 #777 #888 #888 #777 #666 #555;
  -moz-border-left-colors: #555 #666 #777 #999 #999 #888 #777 #666;
  -moz-border-right-colors: #666 #777 #888 #bbb #ccc #eee #eee #eee;
  -webkit-box-shadow: 3px 7px 3px #888;
  -moz-box-shadow: 3px 7px 3px   #888;
  box-shadow: 3px 7px 3px   #888;
  -webkit-border-radius: 15px 15px 15px 15px;
  -moz-border-radius: 15px 15px 15px 15px;
  border-radius: 15px 15px 15px 15px;
  overflow: auto;
  width: 90%;
  margin: 0 auto;
  padding: 5px;
}
@media only screen and (max-width: 620px) {
  #whiteboard {
    border-width: 15px;
  }
}
@media only screen and (max-width: 320px) {
  #whiteboard {
    border-width: 10px;
  }
}
h1{
  font-family: fantasy;
}
#whiteboard:after{
  content: "";
  display: block;
  clear: both;
}

#whiteboard>h1{
  text-align: center;
  font-size: 28px;
  margin: 20px auto 0px;
  padding: 0;
  text-shadow: 2px 2px #D6D6D6;
  width: 260px;
  border-bottom: 2px solid #7E7B7B;
  line-height: 1.1em;
}
#whiteboard ul{
  border: 0px solid;
  padding: 0;
  margin: 0;
}
#whiteboard li{
  list-style: none;
  display: inline-block;
  border: 0px solid;
  width: 25%;
  margin-left: 6%;
  margin-top: 2%;
}

.developer-info{
  text-align: center;
  width: 175px;
  min-width: 160px;
  padding: 32px;
  position: relative;
}
.developer-info>a img{
  display: block;
  width: 100%;
  margin: 1% auto;
  position: relative;
  z-index: 10;
}
.developer-info>a{
  position: relative;
  z-index: 1;
  display: block;
  height: 170px;
  width: 170px;
}
.overlay{
  border-radius: 5px;
  background-color: white;
  opacity: 0.9;
  position: absolute;
  min-width: 76%;
  height: 63%;
  top: 10%;
  left: 13%;
  z-index: 20;
}

.details{
  text-align: center;
  position: absolute;
  z-index: 22;
  left: -2%;
  color: black;
  width: 100%;
  height: 100%;
}
.details h3,h4{
  padding: 2px;
  margin: 2px;
}
.developer-info h1{
  font-size: 1.2em;
  margin-top: 20px;
  margin-bottom: 0;
}
.details a.profile,a.company{
  text-decoration: none;
  font-size: 1.1em;
}
.details a.profile{
  color: #00C5E0;
  font-style: italic;
  font-size: 18px;
}
.details a.company{
  color: #005503;
}

.profile-logo{
  display: block;
  height: 32px;
  width: 32px;
  margin: 2px auto;
}
.twitter {
  background: url(../images/contributors/logo/twitter.png);
}
.facebook {
  background: url(../images/contributors/logo/facebook.png);
}
.overlay{
  display: none;
}
.details{
  display: none;
}

.developer-info>a:hover + .overlay, .developer-info>a:hover + .overlay > .details{
  display: block;
}

#anand{
  content: url(../images/contributors/images/anand.png);
}
#anay{
  content: url(../images/contributors/images/anay.png);
}
#atreyee{
  content: url(../images/contributors/images/atreyee.png);
}
#dhaval{
  content: url(../images/contributors/images/dhaval.png);
}
#chirag{
  content: url(../images/contributors/images/chirag.png);
}
#divyanshu{
  content: url(../images/contributors/images/divyanshu.png);
}
#vishnu{
  content: url(../images/contributors/images/vishnu.png);
}
#mai{
  content: url(../images/contributors/images/mai.png);
}
#ankit{
  content: url(../images/contributors/images/ankit.png);
}
#anoop{
  content: url(../images/contributors/images/anoop.png);
}
#emily{
  content: url(../images/contributors/images/emily.png);
}
#magdalena{
  content: url(../images/contributors/images/magdalena.png);
}
#shraddha{
  content: url(../images/contributors/images/shraddha.png);
}
#aman{
  content: url(../images/contributors/images/aman.png);
}
#xinyu{
  content: url(../images/contributors/images/xinyu.png);
}
#aroj{
  content: url(../images/contributors/images/aroj.png);
}
.developer-info>a{
  position: relative;
  z-index: 10;
  padding: 2%;
}


.developer-info a div.sheet1{
  transform:rotate(4deg);
  -ms-transform:rotate(4deg); /* IE 9 */
  -moz-transform:rotate(4deg); /* Firefox */
  -webkit-transform:rotate(4deg); /* Safari and Chrome */
  -o-transform:rotate(4deg); /* Opera */
}
.developer-info a div.sheet2{
  transform:rotate(2deg);
  -ms-transform:rotate(2deg); /* IE 9 */
  -moz-transform:rotate(2deg); /* Firefox */
  -webkit-transform:rotate(2deg); /* Safari and Chrome */
  -o-transform:rotate(2deg); /* Opera */
}
.developer-info a div.sheet3{
  transform:rotate(0deg);
  -ms-transform:rotate(0deg); /* IE 9 */
  -moz-transform:rotate(0deg); /* Firefox */
  -webkit-transform:rotate(0deg); /* Safari and Chrome */
  -o-transform:rotate(0deg); /* Opera */
}

.sheet1, .sheet2, .sheet3{
  z-index: 5;
  position: absolute;
  border: 1px solid black;
  top: -12px;
  left: -5px;
  width: 188px;
  height: 198px;
  background-color: white;
}
.sheet1{
  box-shadow: 3px 3px 14px 2px rgba(0, 0, 0, 0.35);
}
.sheet2{
  z-index: 6;
  border: 1px solid black;
}
.sheet3{
  z-index: 7;
  border: 1px solid black;
}
.clearfix:before, .clearfix:after{
  content: " ";
  clear: both;
  display: block;
}