%ul
  - @retros.each do |retro|
    %li
      = link_to retro.name, retro_for_path(:name => retro.name, :id => retro.id)
- form_tag({:controller => :users, :action => :add_retro},{:method => "post",:novalidate => ""}) do
  = text_field_tag(:url, "",:required => "required","data-message"=>"please fill in the url")
  = submit_tag("Add")
