<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
  <meta http-equiv="content-type" content="text/html; charset=utf-8"/>
  <meta name="keywords" lang="en-us" content="collaborate, distributed, share, discuss, ideas, brainstorm, sticky, wall, board, whiteboard, meeting, retro, online, continuous, thoughtworks, application"/>
  <meta name="keywords" lang="en" content="collaborate, distributed, share, discuss, ideas, brainstorm, sticky, wall, board, whiteboard, meeting, retro, online, continuous, thoughtworks, application"/>
  <meta name="description" content="Conduct collaborative brainstorming sessions with distributed teams"/>
  <title>
    IdeaBoardz - Brainstorm, retrospect, collaborate
  </title>
  <meta name="retroId" content="<%= @retrospective_id %>"/>
  <link rel="stylesheet" type="text/css" href="/css/reset-min.css" media="all"/>
  <link rel="stylesheet" type="text/css" href="/css/cupertino/jquery-ui-1.8.2.custom.css" media="all"/>
  <link rel="stylesheet" type="text/css" href="/css/orter.css" media="all"/>
</head>
<body>
<div class="main_wrap">
  <div class="whiteboard">
    <div class="header">
      <a href="/" title="Ideaboardz"><img src="/images/logo.png" alt="Ideaboardz" class="logo"/></a>

      <h2 class="ideaBoardTitle" id="ideaboardTitle"></h2>

      <!--googleoff: all-->
      <noscript>Please turn javascript on or move to a browser which supports it</noscript>
      <!--googleon: all-->
      <a id="pdfExport" class="pdfExport" title="Export as pdf" target="_blank"></a>
    </div>
    <div id="sectionsRow1" class="sections">
    </div>
    <div id="sectionsRow2" class="sections">
    </div>
    <div class="hide">
      <div id="sectionTemplate">
        <div class="section">
          <div class="sectionTitleArea">
            <h4 class="sectionTitle"></h4>
            <button class="addStickyButton" title="Add Sticky"></button>
          </div>
          <div class="points">
          </div>
          <div class="addStickyForm hide"><textarea class="stickyText" rows="4" cols="30"></textarea></div>
        </div>
      </div>
      <div id="stickyTemplate" class="col_right">
        <div class="sticky">
          <div class="stickyText"></div>
          <div class="stickyActions hide  ">
            <span class="voteStickyButton"></span>
            <span class="removeStickyButton"></span>
          </div>
          <div class="voteCount"></div>
        </div>
      </div>
    </div>
  </div>
</div>
<div id="largeStickyDialog">
  <div class="stickyLarge">
    <div class="stickyText"></div>
    <div class="stickyActions">
      <span class="voteStickyButton">Vote</span>
      <span class="removeStickyButton">Remove</span>
      <div class="voteCountContainer">Number of votes: <span class="voteCount"></span></div>
    </div>
  </div>
</div>
<script type="text/javascript" src="/js/jquery-1.4.2.min.js"></script>
<script type="text/javascript" src="/js/jquery-ui-1.8.2.custom.min.js"></script>
<script type="text/javascript" src="/js/loadRetro.js"></script>
</body>
</html>