<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <META name="keywords" lang="en-us"
          content="Collaborate, distributed, share, discuss, ideas, brainstorm, easy, sticky, wall, board, whiteboard, meeting, retro, online, continuous "/>
    <META name="keywords" lang="en"
          content="Collaborate, distributed, share, discuss, ideas, brainstorm, easy, sticky, wall, board, whiteboard, meeting, retro, online, continuous "/>
    <title>
        IdeaBoardz - Online Continuous Distributed Retrospective
    </title>
    <meta name="retroId" content="<%=@retrospective_id%>">
    <link rel="stylesheet" type="text/css" href="/css/reset-min.css"/>
    <link rel="stylesheet" type="text/css" href="/css/orter.css"/>
    <link rel="stylesheet" type="text/css" href="/css/cupertino/jquery-ui-1.8.1.custom.css"/>
</head>
<body>
<div class="main_wrap">
    <div class="whiteboard">
        <div class="header">
            <img src="/images/logo.png" alt="Ideaboardz" class="logo"/>

            <h2 class="ideaBoardTitle" id="ideaboardTitle"></h2>
            <a id="pdfExport" class="pdfExport" target="_blank"></a>
        </div>
        <div id="sections">
        </div>
        <div class="hide">
            <div id="sectionTemplate">
                <div class="section">
                    <div class="sectionTitleArea">
                        <h4 class="sectionTitle"></h4>
                        <button class="addStickyButton"></button>
                    </div>
                    <div class="points">
                    </div>
                </div>
            </div>
            <div id="stickyTemplate" class="col_right">
                <div class="sticky">
                    <div class="stickyText"></div>
                    <div class="stickyActions hide  ">
                        <span class="voteStickyButton">Vote</span>
                        <span class="removeStickyButton">Remove</span>
                    </div>
                    <div class="voteCount"></div>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="dialog" title="Add new sticky">
    <textarea id="stickyText" rows="4" cols="30"></textarea>
</div>
    <div id="largeStickyDialog" title="Sticky">
        <div class="stickyLarge">
            <div class="stickyText"></div>
            <div class="voteCountContainer">Number of votes: <span class="voteCount"></span></div>
            <div class="stickyActions">
                <span class="voteStickyButton">Vote</span>
                <span class="removeStickyButton">Remove</span>
            </div>
        </div>
    </div>
<script type="text/javascript" src="/js/jquery-1.4.2.min.js"></script>
<script type="text/javascript" src="/js/jquery-ui-1.8.1.custom.min.js"></script>
<script type="text/javascript" src="/js/jquery.tools.expose.min.js"></script>
<script type="text/javascript" src="/js/loadRetro.js"></script>
<script type="text/javascript" src="/js/cufon-yui.js"></script>
<script type="text/javascript" src="/js/avant_400.font.js"></script>
<script type="text/javascript"> Cufon.replace('.stickyText');</script>
<script type="text/javascript"> Cufon.replace('.sectionTitle');</script>
<script type="text/javascript"> Cufon.replace('.ideaBoardTitle');</script>
</body>
</html>