%div{:class => "section #{section_width} #{get_sticky_color(section.id)}", "data-color" => get_sticky_color(section.id), :id => "section#{section.id}"}
  .sectionTitleArea
    %h4.sectionTitle!= section.name
    %button.addStickyButton{:title => "Add Sticky"}
  .points
  .addStickyForm.hide
    %textarea.stickyText{:cols => "30", :rows => "4", :maxlength => 140}
