!!! Strict
%html{:xmlns => "http://www.w3.org/1999/xhtml"}
  %head
    %link{:href => "/favicon.ico", :rel => "shortcut icon"}/
    %meta{:content => "text/html; charset=utf-8", :"http-equiv" => "content-type"}/
    %meta{:content => "collaborate, distributed, share, discuss, ideas, brainstorm, sticky, wall, board, whiteboard, meeting, retro, online, continuous, thoughtworks, application", :lang => "en-us", :name => "keywords"}/
    %meta{:content => "collaborate, distributed, share, discuss, ideas, brainstorm, sticky, wall, board, whiteboard, meeting, retro, online, continuous, thoughtworks, application", :lang => "en", :name => "keywords"}/
    %meta{:content => "Conduct collaborative brainstorming sessions with distributed teams", :name => "description"}/
    %meta{:content => "width=device-width, initial-scale=1, maximum-scale=1", :name => "viewport"}/
    %title
      IdeaBoardz - Brainstorm, Retrospect, Collaborate
    %link{:href => "http://fonts.googleapis.com/css?family=Delius|Handlee", :rel => "stylesheet", :type => "text/css"}/
    = stylesheet_link_tag 'mobile/bootstrap'
    = stylesheet_link_tag 'mobile/mib_custom'
    = render :partial => "shared/analytics"
  %body
    .index-board
      %h2{:style => "text-align:center"} WELCOME TO IDEABOARDZ
      .sticky{:style => "text-align:left"}
        %h3{:style => "text-align:center"} HOW
        %ul
          %li Ask the facilitator for the URL of an IdeaBoard
          %li Enter the URL in your browser to start reading and editing ideas
      %p
      .sticky.orange{:style => "text-align:left"}
        %h3{:style => "text-align:center"} WHY?
        %ul
          %li Add ideas on the go
          %li Never miss a retro
      %p
      .sticky.green{:style => "text-align:left"}
        %h3{:style => "text-align:center"} GET STARTED
        %p Enter the URL for your board in your browser to get started