@import "base.less";
.half{
    width: 49%;
}

.oneThird{
    width: 33%;
}

.full{/* keep ot after all the half and one thirds*/
    width: 99%;
}

.mainWrap {
	margin: 0 auto;
    overflow: auto;
    padding:1em;
}

.whiteboard{
    background-color: white;
    border: #696969 solid 20px;

    -moz-border-bottom-colors: #555 #666 #777 #888 #aaa #bbb #ccc #ddd;
    -moz-border-top-colors: #555 #666 #777 #888 #888 #777 #666 #555;
    -moz-border-left-colors: #555 #666 #777 #999 #999 #888 #777 #666;
    -moz-border-right-colors: #666 #777 #888 #bbb #ccc #eee #eee #eee;

	-webkit-box-shadow: 3px 7px 3px #888;
    -moz-box-shadow: 3px 7px 3px   #888;
    -webkit-border-radius: 15px 15px 15px 15px;
    -moz-border-radius: 15px 15px 15px 15px;
    overflow: auto;
    width: 95%;
    min-height:643px;
    text-align: center;
}

.topbar,.header{
    overflow: hidden;
    width: 99%;
}

.filter{
  float: left;
  width: 99%;
  min-width: 250px;
}

#search{
  width: 30%;
  float: left;
  margin: 0 0 20px 10px;
}

.filter label, .filter select{
  margin: 0 0 0 10px
}

.logoContainer{
  float:left;
  width: 24%;
  min-width: 250px;
}

.filter .sort{
  float: right;
  padding-right: 20px;
}

.logo img{
  height: 45px;
  width: 245px;
}

.logo{
    margin:15px 0 15px 15px;
}

.export{
  float: right;
  width: 15%;
  min-width: 130px;
}

.pdfExport, .excelExport{
    margin: 0 10px 15px 10px;
    display: inline;
    float: right;
    height:55px;
    width: 45px;
}

.pdfExport {
    background:transparent url(../images/pdf_export.png) no-repeat;
}

.excelExport{
    background:transparent url(../images/excel_export.png) no-repeat;
}

.ideaBoardTitle{
    margin: 15px;
    text-align: center;
}

.sections{
    overflow: auto;
}

.section {
	float:left;
	margin-bottom:10px;
	min-height: 200px;
}

.points{
    overflow: auto;
    padding:0.25em;
}

.addStickyForm{
    overflow:visible;
}

.addStickyForm textarea{
    -webkit-box-shadow: 5px 1px 3px #888;
    -moz-box-shadow: 5px 1px 3px #888;
}

.sticky{
    -webkit-box-shadow: 3px 1px 3px #888;
    -moz-box-shadow: 3px 1px 3px #888;
}

.ui-widget-content{
    -webkit-box-shadow:2px 29px 17px #888888;
    -moz-box-shadow:2px 29px 17px #888888;
}

.sticky,.addStickyForm textarea{
    max-width:15em;
}

.sticky,.addStickyForm textarea,.ui-widget-content{
    background-color: #ffff88;
    border : 1px solid #ffff66;
    font-size: 0.75em;
    text-overflow: ellipsis;
    .round-corner(4px, 4px, 15px, 4px);
    margin-left: 5px;
    margin-top: 5px;
}

.sticky,.addStickyForm textarea{
    word-wrap: break-word;
    cursor: pointer;
    float:left;
    width:47%;
    height:100px;
    overflow: hidden;
    position:relative;
}

.aqua .sticky,.aqua .addStickyForm textarea, .aqua.ui-widget-content{
	background-color: #ccffff;
  border : 1px solid #ccffdd;
}

.blue .sticky,.blue .addStickyForm textarea, .blue.ui-widget-content{
	background-color: #17B6FF;
  border : 1px solid #17B6FF;
}

.orange .sticky,.orange .addStickyForm textarea, .orange.ui-widget-content{
	background-color: #ffb058;
  border : 1px solid #ffb069;
}

.purple .sticky,.purple .addStickyForm textarea, .purple.ui-widget-content{
	background-color: #d07ddf;
  border : 1px solid #d07def;
}

.green .sticky,.green .addStickyForm textarea, .green.ui-widget-content{
	background-color: #bcee6b;
  border : 1px solid #bcee7c;
}

#largeStickyDialog textarea{
  background: transparent;
  border: none;
  overflow: hidden;
}

.yellow #largeStickyDialog textarea:focus, .yellow #largeStickyDialog textarea:hover{
  background-color: #ffffbb;
}

.aqua #largeStickyDialog textarea:focus, .aqua #largeStickyDialog textarea:hover{
	background-color: #b8f9f9;
}

.blue #largeStickyDialog textarea:focus, .blue #largeStickyDialog textarea:hover{
	background-color: #28c3ff;
}

.orange #largeStickyDialog textarea:focus, .orange #largeStickyDialog textarea:hover{
	background-color: #ffbc73;
}

.purple #largeStickyDialog textarea:focus, .purple #largeStickyDialog textarea:hover{
	background-color: #d18bde;
}

.green #largeStickyDialog textarea:focus, .green #largeStickyDialog textarea:hover{
	background-color: #c6f47b;
}

.ui-dialog{
  cursor:default;
}

.ui-widget-content .ui-widget-content{
  .shadow(none);
}

.ui-widget-content{
    min-width:10em;    
}

.sectionTitle{
    display: inline;
}

.sectionTitleArea{
    overflow:auto;
    width:100%;
    padding:0 0 0.5em 0;
}

.addStickyButton {
    background:transparent url(../images/Add-20.png) no-repeat scroll 0 0;
    border: none;
    cursor: pointer;
    height: 30px;
    width: 20px;
    overflow: hidden;
}

.stickyActions{
    bottom: 20px;
    margin-top: 20px;
}

.removeStickyButton{
    background:transparent url(../images/Delete-20.png) no-repeat;
    padding-left: 23px;
    padding-bottom: 10px;
    cursor: pointer;
    height:32px; /*TODO: is this required?*/
    width:32px;
    text-decoration: underline;
}

.voteCountContainer{
    padding: 20px;
}

/*.voteCountContainer.ajaxLoader{*/
    /*background:transparent url(../images/spinner.gif) no-repeat left;*/
/*}*/

.voteStickyButton{
    background:transparent url(../images/vote.png) no-repeat;
    padding-left: 23px;
    padding-bottom: 10px;
    cursor: pointer;
    height:32px;
    width:32px;
    margin-right: 30px;
    text-decoration: underline;
}

.sticky .voteCount{
    opacity: 0.5;
    /*filter: alpha(opacity = 50);*/
    clear: both;
    margin-top: 10px;
    font-weight:bold;
    position:absolute;
    bottom:5%;
    left:5%;
}

.sticky:hover .voteCount{
  font-weight: bold;
  opacity: 1;
  /*filter: alpha(opacity = 100);*/
}

#largeStickyDialog .stickyText{
    font-size: 1.2em;
    word-wrap: break-word;
}

#largeStickyDialog{
    font-size: 1em;
    cursor: default;
}

#largeStickyDialog .voteCount{
    position: relative;
    top: 0;
}
